header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 3vw;
}

/******************* navbar *********************/

nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 2vw;
}

nav ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

nav li {
  margin-right: 20px;
  padding-left: 20px;
}

nav ul li a {
  color: #45474b;
  text-decoration: none;
  font-weight: 800;
}

nav ul li a:hover {
  color: rgba(69, 71, 75, 0.46);
}

/******************* section *********************/

/* .section {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
} */

/******************* card info *********************/

.shop-card {
  display: grid;
  grid-template-columns: auto auto auto;
}

.shop-info {
  width: 400px;
  margin: 5px 5px;
  border: 2px black solid;
  border-radius: 8px;
  text-align: center;
}

.shop-info>h6 {
  font-size: 2.5vw;
  color: rgb(73, 94, 87);
}

.shop-info>p {
  font-size: 1.5vw;
  color: black;
}

/* Media query for responsiveness */
@media screen and (max-width: 768px) {
  .shop-card {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }

  .shop-info > h6 {
    font-size: 20px;
  }

  .shop-info > p {
    font-size: 16px;
  }
}

/******************* about *********************/

.about {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: 3vw;
}

/******************* reservation form *********************/

.bookingform {
  display: flex;
  flex-direction: column;
}

/******************* footer *********************/

footer {
  background-color: rgb(252, 245, 212);
  text-align: left;
  padding: 20px;
  width: 100%;
  position: fixed;
  bottom: 0;
}



